<?xml version="1.0" encoding="UTF-8"?>
<excels xmlns="http://www.imzy.com/schema/excel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.imzy.com/schema/excel 
		http://www.imzy.com/schema/excel.xsd">
	
	<excel name="default" class="com.imzy.excel.test.xmlbean.ExcelBean">
		<sheet name="实施清单要素" type="BASIC" fieldName="ssqdBasic">
			<cell startX="c" endX="d" startY="4" endY="4" fieldName="basicCode"/>
			<cell startX="c" endX="d" startY="5" endY="5" fieldName="ssbm" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.SxlxMappingProcess"/>
			<cell startX="c" endX="d" startY="6" endY="6" fieldName="sxmc">
				<validator type="com.imzy.excel.processer.validator.NotBlankValidateProcessor"/>
				<validator type="com.imzy.excel.processer.validator.RegularValidateProcessor" param="^11$"/>
			</cell>
			<cell startX="d" endX="d" startY="7" endY="7" fieldName="sxlx"/>
			<cell startX="c" endX="d" startY="9" endY="9" fieldName="xscj" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.XscjMappingProcessor"/>
			<cell fieldName="xm" positionProcessor="com.imzy.excel.test.bean.processor.position.SsqdBasic47PositionProcessor" />
		</sheet>
		<sheet name="附表1特别程序要素" type="HORIZONTAL" startLine="3" fieldName="specialList" existProcessor="com.imzy.excel.processer.exist.SimpleHorizontalExistProcessor">
			<cell startX="a" endX="a" fieldName="no"/>
			<cell startX="b" endX="b" fieldName="type">
				<validator type="com.imzy.excel.processer.validator.NotBlankValidateProcessor"/>
				<validator type="com.imzy.excel.processer.validator.RegularValidateProcessor" param="^A$"/>
			</cell>
			<cell startX="c" endX="c" fieldName="name" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.SxlxMappingProcess"/>
			<cell startX="d" endX="d" fieldName="timeLimit"/>
			<cell startX="e" endX="e" fieldName="according"/>
		</sheet>
		<sheet name="申请材料清理情况登记表" type="MIXED" fieldName="sqcldj">
			<cell fieldName="xm" positionProcessor="com.imzy.excel.test.bean.processor.position.SqcldjXmPositionProcessor"/>
			<cell startX="d" endX="f" startY="2" endY="2" fieldName="sxmc"/>
			<cell startX="d" endX="f" startY="3" endY="3" fieldName="sxlb"/>
			<cell startX="d" endX="f" startY="4" endY="4" fieldName="xhmc"/>
			<cell fieldName="sqcldjHoriList" cellType="HORIZONTAL" positionProcessor="com.imzy.excel.test.bean.processor.position.SqcldjHoriPositionProcessor" existProcessor="com.imzy.excel.processer.exist.SimpleHorizontalExistProcessor">
				<cell startX="a" endX="a" fieldName="xh"/>
				<cell startX="b" endX="b" fieldName="mc"/>
				<cell startX="c" endX="c" fieldName="yjly"/>
				<cell startX="d" endX="d" fieldName="jy"/>
				<cell startX="e" endX="e" fieldName="qljy"/>
			</cell>
			<cell fieldName="tshjList" cellType="VERTICAL" positionProcessor="com.imzy.excel.test.bean.processor.position.TshjPositionProcessor" existProcessor="com.imzy.excel.processer.exist.SimpleVerticalExistProcessor">
				<cell startY="1" endY="1" fieldName="hjmc"/>
				<cell startY="2" endY="2" fieldName="hjsj"/>
				<cell startY="3" endY="3" fieldName="sdyj"/>
			</cell>
		</sheet>
		<sheet name="竖表" type="VERTICAL" startColumn="b" fieldName="sbList" existProcessor="com.imzy.excel.processer.exist.SimpleVerticalExistProcessor">
			<cell startY="1" endY="1" fieldName="hjmc"/>
			<cell startY="2" endY="2" fieldName="hjsj"/>
			<cell startY="3" endY="3" fieldName="sdyj"/>
		</sheet>
	</excel>
</excels>