<?xml version="1.0" encoding="UTF-8"?>
<excels xmlns="http://www.imzy.com/schema/excel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.imzy.com/schema/excel 
		http://www.imzy.com/schema/excel.xsd">
	
	<excel name="default" class="com.imzy.excel.test.xmlbean.ExcelBean">
		<sheet name="实施清单要素" type="VERTICAL" fieldName="ssqdBasic">
			<cell startX="c" endX="d" startY="4" endY="4" fieldName="basicCode"/>
			<cell startX="c" endX="d" startY="5" endY="5" fieldName="ssbm" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.SxlxMappingProcess"/>
			<cell startX="c" endX="d" startY="6" endY="6" fieldName="sxmc">
				<validators>
					<validator type="com.imzy.excel.validator.NotBlankValidator"/>
					<validator type="com.imzy.excel.validator.RegularValidator" param="^11$"/>
				</validators>
			</cell>
			<cell startX="d" endX="d" startY="7" endY="7" fieldName="sxlx"/>
			<cell startX="c" endX="d" startY="9" endY="9" fieldName="xscj" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.XscjMappingProcessor"/>
			<cell fieldName="xm" positionProcessor="com.imzy.excel.test.bean.processor.position.SsqdBasic47PositionProcessor" />
		</sheet>
		<sheet name="附表1特别程序要素" type="HORIZONTAL" startLine="3" fieldName="specialList" existProcessor="com.imzy.excel.processer.exist.SimpleExistProcessor">
			<cell startX="a" endX="a" fieldName="no"/>
			<cell startX="b" endX="b" fieldName="type">
				<validators>
					<validator type="com.imzy.excel.validator.RegularValidator" param="^A$"/>
				</validators>
			</cell>
			<cell startX="c" endX="c" fieldName="name" mappingProcessor="com.imzy.excel.test.bean.processor.mapping.SxlxMappingProcess"/>
			<cell startX="d" endX="d" fieldName="timeLimit"/>
			<cell startX="e" endX="e" fieldName="according"/>
		</sheet>
	</excel>
</excels>